header {
  font-size: large;
}

.headerWrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  height: 100%;
  background-color: aqua;
}

.tabs {
  position: relative;
  right: 0;
  top: 0;
  width: 50%;
  height: 55%;
  background-color: rgb(155, 255, 202);
  float: right;
}
