.searchWrapper {
  position: relative;
  display: flex;
  cursor: pointer;
  width: min-content;
  padding: 0 5rem 0 0.5rem;
  height: 2.5rem;
  align-items: center;
  margin: 0.3rem;
}

.searchInput {
  width: 0;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  transition: width 0.1s;
  z-index: 1;
}

.searchIcon {
  /* position: relative;
  display: inline-block; */
  /* padding: 0 5rem 0 0; */
}

.searchWrapper:hover,
.searchWrapper:focus-within {
  border: 1px solid grey;
  border-radius: 2rem;
}
.searchWrapper:hover .searchInput,
.searchInput:focus {
  margin-left: 0.3rem;
  width: 12rem;
}
