.page {
  /* background-color: #edecec; */
  /* position: fixed; */
  padding: 0 3vw 3vh 3vw;
  /* min-height: 100vh; */
  /* min-width: 100vw;
  min-height: 100vh; */
}

.settingsIcon {
  position: absolute;
  right: 5vh;
  top: 5vh;
}

.nextQuestionButton {
  position: fixed;
  right: 5vh;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 10vh;
  height: 4vh;

  user-select: none;

  background-color: black;
  border: 0.1rem solid #333;
  color: white;
  padding: 0.5rem 0.1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nextQuestionButton:hover {
  background-color: #333;
}

.nextQuestionButton:focus,
.nextQuestionButton:active {
  outline: none;
  box-shadow: 0 0 0.5rem 0.1rem #333;
  border-color: #999;
  animation: border-color-cycle 1s ease-in-out infinite;
}

.nextQuestionButton:active {
  transform: translateY(-50%) scale(0.92);
}
