.concepts {
  background-color: rgb(204, 204, 204);
  max-width: 90%;
  min-width: 60%;
  width: fit-content;

  padding: 5px;
  min-height: 4vh;
  max-height: 8vh;
  border-radius: 7vh;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  /* align concept section box in middle */
  position: relative;
  left: 50%;
  transform: translate(-50%);

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(193, 193, 193),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.conceptsText {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
