.concepts {
  background-color: rgb(204, 204, 204);
  max-width: 90%;
  padding: 5px;
  min-height: 4vh;
  max-height: 8vh;
  border-radius: 7vh;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  text-align: center;

  /* align concept section box in middle */
  position: relative;
  left: 50%;
  transform: translate(-50%);

  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(193, 193, 193),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.conceptsText {
  /* vertical-align: middle; */
}
