/* VERTICAL HORIZONTAL UNNECESSARY SCROLL REMOVER */
/* VERTICAL HORIZONTAL UNNECESSARY SCROLL REMOVER */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* this makes sure the padding and the border is included in the box sizing */
  box-sizing: border-box;
}

html body {
  padding: 0;
  margin: 0;
  overflow-y: inherit;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 0.7vw;
  position: absolute;
  /* right: 7rem; */
  /* top: 1rem; */
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  background: rgba(55, 52, 52, 0.8);
  -webkit-box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(126, 126, 126, 0);
}

::-webkit-scrollbar-track {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

::-webkit-scrollbar-corner {
  visibility: hidden;
}

:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  font-family: "Lucida Console", "Courier New", monospace;
}
