.main {
  padding-top: 3%;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.page {
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2vh;
}

/* header style */
.page .header {
  text-align: center;
}

.page .header .logo,
.page .header p,
.page .header button {
  margin-bottom: 1.3vh;
}

.page .header > p {
  font-weight: bold;
  color: #8e8e8e;
  font-size: 1rem;
}

.page .header > button {
  width: inherit;
  padding: 0.7rem 1.4rem;
  border-radius: 0.7rem;
  border: none;
  background-color: #000000;
  color: #ffffff;
  box-sizing: border-box;
}

.page .header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #8e8e8e;
}

.page .header div p {
  padding: 0 1.3rem;
}

.page .header div hr {
  width: 7rem;
}

/* container style*/
.page .container {
  display: flex;
  flex-direction: column;
}

.page .container .form {
  width: inherit;
}

.page .container .form input {
  border: 0.05rem solid #dbdbdb;
  border-radius: 0.4rem;
  background-color: #fafafa;
  padding: 0.7rem 0.35rem;
  margin: 0.4rem 0;
  width: inherit;
}

.page .container form input:last-of-type {
  margin-bottom: 2rem;
}

.formButton {
  width: inherit;

  background-color: black;
  border: 0.1rem solid #333;
  color: white;
  padding: 0.5rem 0.1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.formButton:hover {
  background-color: #333;
}

.formButton:focus,
.formButton:active {
  outline: none;
  box-shadow: 0 0 0.5rem 0.1rem #333;
  border-color: #999;
  animation: border-color-cycle 1s ease-in-out infinite;
}

.formButton:active {
  transform: scale(0.92);
}

.page .container ul {
  list-style: none;
  text-align: center;
  margin-bottom: 10px;
}

.page .container ul li {
  display: inline;
  color: #8e9096;
}

.page .container ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #8e9096;
}

/* option style */
.option p > a {
  text-decoration: none;
  color: #00a0f7;
}

/* otherapps style */
.otherapps {
  text-align: center;
}

.otherapps p {
  margin-bottom: 1.2rem;
}

.otherapps > button {
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 18px;
}

/* Mobile Styles */

@media only screen and (max-width: 400px) {
  /* body {
    font-family: Freight Sans;
  } */

  .page {
    width: 250px;
    background-color: #fafafa;
  }

  .page .header {
    width: inherit;
    margin-top: 10px;
  }

  .page .container {
    width: inherit;
  }

  .option {
    margin: 80px 0;
  }

  .page .container input {
    padding: 10px 5px;
    margin: 5px 0;
  }

  .page .footer {
    width: inherith;
  }
}

@media only screen and (min-width: 401px) {
  /* body {
    font-family: Neue Helvetica;
  } */
  .page {
    border: 1px solid #dbdbdb;
    width: 350px;
    background-color: white;
    margin: 40px 40px 10px 40px;
  }

  .page .header {
    width: 270px;
    margin-top: 15px;
  }

  .page .container {
    width: 270px;
  }

  .option {
    border: 1px solid #dbdbdb;
    background-color: white;
    width: 350px;
    height: 70px;
    margin-top: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .otherapps {
    margin: 20px 0;
  }

  .otherapps button {
    margin-right: 5px;
  }

  .otherapps button:after-of-type {
    margin-right: none;
  }

  .page .footer {
    width: 100%;
  }
}

.errMsg {
  color: #291125;
}
