.main {
  padding-top: 3%;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.page {
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

/* header style */
.page .header {
  text-align: center;
}

.page .header .logo,
.page .header p,
.page .header button {
  margin-bottom: 15px;
}

.page .header > p {
  font-weight: bold;
  color: #8e8e8e;
  font-size: 18px;
}

.page .header > button {
  width: inherit;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  box-sizing: border-box;
}

.page .header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #8e8e8e;
}

.page .header div p {
  padding: 0 20px;
}

.page .header div hr {
  width: 200px;
}

/* container style*/
.page .container {
  display: flex;
  flex-direction: column;
}

.page .container .form {
  width: inherit;
}

.page .container .form input {
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  padding: 10px 5px;
  margin: 5px 0;
  width: inherit;
}

.page .container form input:last-of-type {
  margin-bottom: 30px;
}

.formButton {
  width: inherit;
  margin-bottom: 20px;
  padding: 7px 5px;
  border-radius: 5px;
  border: 2px solid rgb(116, 116, 116);
  background: linear-gradient(135deg, #9ca24b 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, #233f88 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, #eceddc 25%, transparent 25%),
    linear-gradient(45deg, #eceddc 25%, transparent 25%);
  background-size: 30px 34px;
  background-color: #e0acb4;
  color: #291125;
  font-weight: 1000;
}

.page .container ul {
  list-style: none;
  text-align: center;
  margin-bottom: 10px;
}

.page .container ul li {
  display: inline;
  color: #8e9096;
}

.page .container ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #8e9096;
}

/* option style */
.option p > a {
  text-decoration: none;
  color: #00a0f7;
}

/* otherapps style */
.otherapps {
  text-align: center;
}

.otherapps p {
  margin-bottom: 15px;
}

.otherapps > button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 18px;
}

/* Mobile Styles */

@media only screen and (max-width: 400px) {
  /* body {
    font-family: Freight Sans;
  } */

  .page {
    width: 250px;
    background-color: #fafafa;
  }

  .page .header {
    width: inherit;
    margin-top: 10px;
  }

  .page .container {
    width: inherit;
  }

  .option {
    margin: 80px 0;
  }

  .page .container input {
    padding: 10px 5px;
    margin: 5px 0;
  }

  .page .footer {
    width: inherith;
  }
}

@media only screen and (min-width: 401px) {
  /* body {
    font-family: Neue Helvetica;
  } */
  .page {
    border: 1px solid #dbdbdb;
    width: 350px;
    background-color: white;
    margin: 40px 40px 10px 40px;
  }

  .page .header {
    width: 270px;
    margin-top: 15px;
  }

  .page .container {
    width: 270px;
  }

  .option {
    border: 1px solid #dbdbdb;
    background-color: white;
    width: 350px;
    height: 70px;
    margin-top: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .otherapps {
    margin: 20px 0;
  }

  .otherapps button {
    margin-right: 5px;
  }

  .otherapps button:after-of-type {
    margin-right: none;
  }

  .page .footer {
    width: 100%;
  }
}

.errMsg {
  color: #291125;
}
