.moreSettingsWrapper {
  z-index: 2;
  position: relative;
}
.moreIcon {
  position: fixed;
  right: 0.1rem;
  top: 0.1rem;
  margin: 1rem;
  cursor: pointer;
  user-select: none;
}

.dropdown {
  position: relative;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 1.5rem 1rem;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown ul li {
  height: 2rem;
  align-items: center;
}

.dropdown ul li a {
  color: #333;
  display: grid;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  user-select: none;
}

.dropdown ul li:hover {
  background-color: #f2f2f2;
}
