.questioncard {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.question {
  margin-bottom: 20px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.options {
  display: flex;
  flex-direction: column;
}

.option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.label {
  margin-left: 10px;
}

.checkmark {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ccc;
  position: absolute;
  right: 0;
  transition: all 0.2s ease-in-out;
}

.selected {
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.selected::after {
  content: "";
  width: 6px;
  height: 12px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
