.question {
  /* display: flex; */
  /* padding-top: 6vh; */
  min-width: 50%;
  max-width: 85%;
  min-height: 60%;
  max-height: 300%;
  margin: 0px;

  /* height: 94vh; */
  margin: auto;
}

.progressPercent {
  position: fixed;
  top: 0;
  margin: 0.5rem;
  left: 50%;
  padding: 0.3rem;
  border-radius: 0.5rem;
  transform: translateX(-50%);
  border: 1px solid rgba(128, 128, 128, 0.356);
  background-color: rgba(226, 226, 226, 0.349);
  user-select: none;
}
