.page {
  background-color: #edecec;
  padding: 5%;
  /* min-height: 100vh; */
  min-width: 100vh;
}

/* .questionCardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
} */

.settingsIcon {
  position: absolute;
  right: 3%;
  top: 5%;
}
