.page {
  background-color: #545454;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  height: 100%;
}

/* .questionCardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
} */

.settingsIcon {
  position: absolute;
  right: 3%;
  top: 5%;
}
