.page {
  width: 100%;
  /* height: 100%; */
  position: absolute;
  background-color: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  overflow: auto;
}

.str2mdTable {
  min-width: 55%;
  min-height: 2%;
  max-width: 90%;
  max-height: 80%;
  height: fit-content;
  /* width: fit-content; */

  /* position: absolute; */
  /* left: 50%; */
  /* top: 20%; */
  /* transform: translateX(-50%); */

  border: rgba(0, 0, 0, 0.162) solid 1px;
  padding: 10px;
}

.tabs {
  display: flex;
  justify-content: space-between;
}

.strTab {
  width: 100%;
  text-align: center;
}

.mdTab {
  width: 100%;
  text-align: center;
}

.contents {
  /* flex: 1; */
  display: flex;
  justify-content: space-between;
}

.textContent {
  min-width: 300px;
  width: 50%;
  height: 100%;
  height: auto;
  border: none;
  border-right: black solid 3px;
  resize: horizontal;
}

.mdContent {
  /* flex: 1; */
  margin-left: 20px;
  width: 50%;
}

.choices {
  margin-top: 15px;
  max-height: 40%;
  overflow: auto;
  text-align: center;
}

.addedChoice {
  padding: 2px 10px 2px 10px;
  border: 1.5px solid rgba(0, 52, 137, 0.548);
  border-radius: 5px;

  min-width: 500px;
  width: fit-content;
  max-width: 900px;

  display: flex;

  align-items: center;

  user-select: none;
}

.correctChoice {
  padding: 2px 10px 2px 10px;
  border: 3px solid rgba(0, 52, 137, 0.548);
  border-radius: 5px;

  min-width: 500px;
  width: fit-content;
  max-width: 900px;

  display: flex;

  align-items: center;

  /* box-shadow: rgba(52, 208, 25, 0.548) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}

.addedChoiceButtons {
  margin-left: auto;

  display: flex;
  gap: 5px;
  align-items: center;
}

/* ##### */
.removeAddedChoiceButton {
  user-select: none;
  background-color: rgba(255, 255, 255, 0.077);
  border-radius: 20%;
  border: rgba(255, 0, 0, 0.29) 1px solid;
  font-size: 1.1rem;
  color: white;
  height: fit-content;
  -webkit-text-stroke: 1px rgba(255, 0, 0, 0.666);
}

.removeAddedChoiceButton:hover {
  background-color: rgba(255, 0, 0, 0.21);
}

.removeAddedChoiceButton:active {
  border: rgba(255, 0, 0, 0.89) 1px solid;
}
/* ##### */

.editAddedChoiceButton {
  user-select: none;

  background-color: rgba(255, 255, 255, 0.077);
  border-radius: 20%;
  border: rgba(0, 0, 0, 0.545) 1px solid;
  height: max-content;
  color: white;
}

.editAddedChoiceButton:hover {
  background-color: rgba(0, 0, 0, 0.068);
}

.editAddedChoiceButton:active {
  border: rgba(0, 0, 0, 1) 1px solid;
}
.editIcon:active {
  opacity: 0.9;
}
.editIcon {
  user-select: none;

  opacity: 0.7;
}

.addExtraChoiceWrapper {
  padding: 10px;
  margin-top: 5px;
  width: 70%;
  color: rgba(0, 52, 137, 0.848);
  border: rgba(0, 52, 137, 0.548) solid 1px;
  border-radius: 15px;
  user-select: none;
  display: inline-block;
}

.addExtraChoiceWrapper:hover {
  background-color: rgba(21, 58, 117, 0.115);
}

.addExtraChoiceWrapper:active {
  border: rgba(0, 52, 137, 0.948) solid 1.8px;
}

/* ### CURRENTLY SELECTED CHOICE */

.editingChoiceStrMdWrapper {
  height: auto;
  position: relative;
  left: 5%;
  width: 95%;
  border-radius: 10px;
  border: rgba(0, 52, 137, 0.438) solid 2px;
  padding: 5px;
}

.editingChoiceStrInput {
  width: 100%;
  min-height: 3rem;
  height: auto;
  max-height: 6rem;
  overflow: auto;
  resize: none;
  border: none;
  border-bottom: 1px solid black;
}

.editingChoiceMdWrapper {
  padding: 10px;
  border: none;

  display: flex;
}

.editingChoiceButtons {
  margin-left: auto;
  align-items: center;
  display: flex;
  gap: 5px;
}

.saveEditedChoiceButton {
  user-select: none;
  height: 1.7rem;
  background-color: rgba(62, 220, 23, 0.074);
  border-radius: 10px;
  border: rgba(62, 220, 23, 0.774) 1px solid;
}
.saveEditedChoiceButton:hover {
  background-color: rgba(62, 220, 23, 0.124);
}
.saveEditedChoiceButton:active {
  border: rgb(37, 157, 7) 1.5px solid;
}

.checkIcon {
  opacity: 0.5;
}
.checkIcon:active {
  opacity: 1;
}

.discardChangesEditedChoice {
  height: 1.7rem;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.077);
  border-radius: 10px;
  border: rgba(255, 0, 0, 0.29) 1px solid;
  font-size: 1.1rem;
  color: rgba(255, 0, 0, 0.29);
}

.discardChangesEditedChoice:hover {
  background-color: rgba(255, 0, 0, 0.21);
}

.discardChangesEditedChoice:active {
  border: rgba(255, 0, 0, 0.89) 1px solid;
  color: rgba(255, 0, 0, 0.89);
}

.questionTags {
  position: absolute;
  right: 5%;
  width: 25%;
  height: 30%;
  top: 55%;
}

.uploadButton {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
  border: 2px solid #333;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.uploadButton:hover {
  background-color: #333;
}

.uploadButton:focus,
.uploadButton:active {
  outline: none;
  box-shadow: 0px 0px 5px 2px #333;
  border-color: #999;
  animation: border-color-cycle 1s ease-in-out infinite;
}

.uploadButton:active {
  transform: scale(0.92);
}

@keyframes border-color-cycle {
  0% {
    border-color: #999;
  }
  50% {
    border-color: #fff;
  }
  100% {
    border-color: #999;
  }
}

.choiceAndTrueFalseWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.choiceAndTrueFalseWrapper input[type="radio"] {
  /* hide the default radio button appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  /* set the custom radio button size */
  width: 20px;
  height: 20px;
  /* set the custom radio button border and background */
  border: 2px solid rgba(0, 52, 137, 0.548); /* greenish border */
  border-radius: 50%; /* make it circular */
  background-color: transparent; /* make the center transparent */
}

.choiceAndTrueFalseWrapper input[type="radio"]:checked {
  border: rgba(0, 52, 137, 0.438) solid 2px;
}

.choiceAndTrueFalseWrapper input[type="radio"]:checked::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  background-color: rgba(0, 52, 137, 0.238); /* greenish circle */
  border-radius: 50%; /* make it circular */
}

/* ######*/

.explanationStr2md {
  margin-top: 15px;
  min-width: 55%;
  min-height: 2%;
  max-width: 90%;
  max-height: 80%;
  height: fit-content;
  /* width: fit-content; */

  /* position: absolute; */
  /* left: 50%; */
  /* top: 20%; */
  /* transform: translateX(-50%); */

  border: rgba(5, 46, 169, 0.378) solid 1px;
  padding: 10px;
}

.explanationTabs {
  display: flex;
  justify-content: space-between;
}

.explanationTableTitle {
  width: 100%;
  text-align: center;
}

.explanationContents {
  /* flex: 1; */
  display: flex;
  justify-content: space-between;
}

.explanationTextContent {
  min-width: 300px;
  width: 50%;
  height: 100%;
  height: auto;
  border: none;
  border-right: black solid 3px;
  resize: horizontal;
}

.explanationMdContent {
  /* flex: 1; */
  margin-left: 20px;
  width: 50%;
}
